<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voice9.core.mapper.TaskPauseMapper">
    <resultMap id="BaseResultMap" type="com.voice9.core.entity.TaskPause">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="task_id" jdbcType="BIGINT" property="taskId"/>
        <result column="pause_start_time" jdbcType="BIGINT" property="pauseStartTime"/>
        <result column="pause_end_time" jdbcType="BIGINT" property="pauseEndTime"/>
    </resultMap>
    <sql id="Base_Column_List">id, task_id, pause_start_time, pause_end_time</sql>
    <select id="selectByTaskId" parameterType="Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from cc_task_pause where task_id = #{taskId} order by id desc
    </select>
</mapper>
